VITE_SUPABASE_URL=https://uaeaxnwvmeatymsqtiaa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhZWF4bnd2bWVhdHltc3F0aWFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4OTk1NzQsImV4cCI6MjEwNDQ3NTU3NH0.JsUxUrRCjqe4HuWeHtzmTAjOZBVBP5wd2r8mmRvmmLQ