@charset "UTF-8";
.dot-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: sans-serif;
  user-select: none;
}

.dot-checkbox input[type=checkbox] {
  display: none;
}

.dot-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #0089f1;
  border-radius: 5px;
  transition: all 0.2s ease;
  position: relative;
}

.dot-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #fdfdfd;
  border-color: #2563eb;
}

.dot-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #0089f1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.dot-checkbox input[type=checkbox]:checked + .checkmark::after {
  display: block;
}

.who-we-are-main {
  width: 100%;
  min-height: 100dvh;
  padding: 20px 20px;
}
.who-we-are-main h3,
.who-we-are-main h2 {
  font-family: "Raleway", sans-serif;
  color: #1c2a36;
  font-size: 20px;
}
.who-we-are-main p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 20px;
}
.who-we-are-main .title-col {
  padding-bottom: 20px;
}
.who-we-are-main .title {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid #e5e7eb;
}
.who-we-are-main .row {
  display: flex;
  padding: 30px 20px 20px 30px;
  gap: 20px;
}
.who-we-are-main .row img {
  width: 446px;
  height: 346px;
  border-radius: 20px;
}
.who-we-are-main .border-bottom {
  border-bottom: 1px solid #e5e7eb;
}

@media (max-width: 767px) {
  .who-we-are-main .row {
    flex-direction: column;
  }
  .who-we-are-main .row img {
    width: 100%;
    height: auto;
  }
}
.privacy-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  padding: 40px 20px;
}
.privacy-policy h2,
.privacy-policy h3 {
  font-family: "Raleway", sans-serif;
  color: #1c2a36;
}
.privacy-policy h2 {
  font-size: 24px;
}
.privacy-policy h3 {
  font-size: 20px;
}
.privacy-policy p,
.privacy-policy li {
  font-family: "Montserrat", sans-serif;
  color: #1c2a36;
  font-size: 14px;
  line-height: 1.5;
}
.privacy-policy .privacy-main {
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.privacy-policy .privacy-main .title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.privacy-policy .privacy-main .col-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.privacy-policy .privacy-main ul {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 767px) {
  .privacy-policy {
    padding: 20px 10px;
  }
  .privacy-policy .privacy-main {
    width: 100%;
  }
}
.terms-and-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  padding: 40px 20px;
}
.terms-and-conditions h2,
.terms-and-conditions h3 {
  font-family: "Raleway", sans-serif;
  color: #1c2a36;
}
.terms-and-conditions h2 {
  font-size: 24px;
}
.terms-and-conditions h3 {
  font-size: 20px;
}
.terms-and-conditions p,
.terms-and-conditions li {
  font-family: "Montserrat", sans-serif;
  color: #1c2a36;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 10px;
}
.terms-and-conditions .terms-main {
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.terms-and-conditions .terms-main .title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.terms-and-conditions .terms-main .col-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.terms-and-conditions .terms-main ol {
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 767px) {
  .terms-and-conditions {
    padding: 20px 10px;
  }
  .terms-and-conditions .terms-main {
    width: 100%;
  }
}
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 76px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 15px 0 rgba(28, 42, 54, 0.15);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0px;
  max-height: 76px;
  padding-right: 20px;
}
nav ul li {
  list-style: none;
  color: #41486b;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
nav ul .logo {
  width: 140px;
  height: 37px;
}
nav ul .logo img {
  width: 100%;
  height: 100%;
}
nav ul .nav-section {
  display: flex;
  gap: 30px;
}
nav ul .menu-section {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100%;
  gap: 30px;
}
nav ul .menu-section .relative-li {
  position: relative;
}
nav ul .menu-section .relative-li .user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
nav ul .menu-section .relative-li .user-profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}
nav ul .menu-section button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
nav ul .menu-section .p-property {
  width: 175px;
  height: 35px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #0089f1;
  color: #fdfdfd;
  font-family: "Montserrat", sans-serif;
}
nav ul .menu-section .i-button {
  align-self: center;
  width: 29px;
  height: 30px;
}
nav ul .menu-section .i-button button {
  width: 100%;
  height: 100%;
}
nav ul .menu-section .i-button button img {
  width: 100%;
  height: 100%;
}
nav ul .menu-section .log-in {
  width: 175px;
  height: 35px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #41486b;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
nav ul .menu-section .search-input {
  display: flex;
}
nav ul .menu-section .search-input div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #0089f1;
  border-radius: 10px;
}
nav ul .menu-section .search-input div img {
  width: 15px;
  height: 15px;
}
nav ul .menu-section .search-input div input {
  height: 100%;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 40px;
  background-color: #fdfdfd;
  position: relative;
  z-index: 10;
}
footer h3 {
  font-family: "Raleway", sans-serif;
  color: #1c2a36;
  font-size: 14px;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
footer .content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
}
footer .content .logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 221px;
  gap: 20px;
}
footer .content .logo-footer h3 {
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
footer .content .txt-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .content .net-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .content .net-container .network {
  display: flex;
  gap: 10px;
}
footer .content .net-container .network img {
  cursor: pointer;
}
footer .sec-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid #e5e7eb;
}
footer .sec-footer h3 {
  color: #adadad;
  font-size: 20px;
}

@media (max-width: 767px) {
  footer {
    padding: 20px 10px;
  }
  footer .content {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 30px;
  }
  footer .content .txt-footer {
    display: none;
  }
  footer .content .net-container {
    padding: 0;
    align-items: center;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-test {
  height: 100%;
}

.desktop-menu {
  position: absolute;
  width: 280px;
  top: 50px;
  left: -100px;
  background-color: #fdfdfd;
  border: 1px solid #e5e7eb;
}
.desktop-menu .desktop-menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 10px;
  border: 1px solid #e5e7eb;
}
.desktop-menu .desktop-menu-header img {
  width: 21px;
  height: 13.77px;
}
.desktop-menu .desktop-menu-header p {
  font-family: "Raleway", sans-serif;
  color: #0089f1;
  font-size: 14px;
  font-weight: 700;
}
.desktop-menu .desktop-menu-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 30px;
  border: 1px solid #e5e7eb;
}
.desktop-menu .desktop-menu-profile img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.desktop-menu .profile-txt {
  font-family: "Raleway", sans-serif;
}
.desktop-menu .profile-txt span {
  font-weight: 700;
}
.desktop-menu .menu-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  gap: 5px;
}
.desktop-menu .menu-content .menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 20px 20px 20px 29px;
  border-bottom: 1px solid #e5e7eb;
}
.desktop-menu .menu-content .menu-item img {
  width: 20px;
  height: 20px;
}
.desktop-menu .menu-content .menu-border-none {
  border: none;
}
.desktop-menu .menu-content .item-active {
  border-left: 15px solid #0089f1;
  background-color: #eef7ff;
  color: #0089f1;
  font-weight: 700;
}
.desktop-menu .log-out {
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-top: 1px solid #ff001d;
  color: #ff001d;
}

.menu-overlay {
  /* 1. El fondo oscuro fijo a la pantalla */
  overscroll-behavior: contain;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(28, 42, 54, 0.4);
  backdrop-filter: blur(8px);
  z-index: 9998;
  display: block;
}
.menu-overlay .desktop-menu {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
  bottom: 0 !important;
  width: 280px !important;
  height: 100vh !important;
  background-color: #fdfdfd !important;
  margin: 0 !important;
  transform: none !important;
  z-index: 9999 !important;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

.main-principal {
  padding: 10px;
}

.principal-home {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  min-height: 522px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url("/img/assets/back_principal.jpg");
}
.principal-home .principal-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 436px;
  height: 100%;
  min-height: 402px;
}
.principal-home .principal-texts h3 {
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  color: #fdfdfd;
}
.principal-home .principal-texts p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #fdfdfd;
  line-height: 1.5;
}
.principal-home .searcher-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50%;
  min-height: 104px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 4px 0 rgba(28, 42, 54, 0.15);
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.principal-home .searcher-component div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #e5e7eb;
}
.principal-home .searcher-component div h3 {
  color: #41486b;
  font-size: 14px;
}
.principal-home .searcher-component div p {
  color: #1c2a36;
  font-size: 14px;
}
.principal-home .searcher-component .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 55px;
  border-radius: 10px;
  background-color: #0089f1;
  border: none;
}
.principal-home .searcher-component .search-btn img {
  width: 15px;
  height: 15px;
}

@media (max-width: 767px) {
  .principal-home {
    width: 100%;
  }
  .principal-home .principal-texts {
    width: 100%;
  }
  .principal-home .searcher-component {
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
    max-width: 100%;
    gap: 20px;
    top: 95%;
  }
  .principal-home .searcher-component div {
    width: 100%;
    height: 47.5px;
    border: none;
  }
  .principal-home .searcher-component .search-btn {
    width: 100%;
  }
}
.options-seeker {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 450px;
  height: 247px;
  padding: 20px;
  background-color: #fdfdfd;
  box-shadow: 0 0 8px 4px rgba(59, 130, 246, 0.15);
  font-family: "Montserrat", sans-serif;
  color: #1c2a36;
  border-radius: 10px;
  top: 67.5%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.options-seeker .options-header {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}
.options-seeker .options-header h3 {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
.options-seeker .options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.options-seeker .options .options-row {
  display: flex;
  gap: 10px;
}
.options-seeker .options .options-row .options-icon {
  display: flex;
  width: 200px;
  height: 40px;
  align-items: center;
  gap: 10px;
}
.options-seeker .options .options-row .options-icon p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.options-seeker .options .options-row .options-icon .icon {
  width: 40px;
  height: 40px;
  background-color: #e5e7eb;
}

@media (max-width: 767px) {
  .options-seeker {
    width: 80%;
    top: 94%;
    left: 50%;
  }
}
.property-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
}
.property-section .property-title {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #e5e7eb;
}
.property-section .property-title h3 {
  font-family: "Raleway", sans-serif;
}
.property-section .pagintator-component {
  display: flex;
  align-items: center;
  gap: 20px;
}
.property-section .pagintator-component img {
  width: 5px;
  height: 10px;
}
.property-section .pagintator-component h3 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.property-section .pagintator-component .selected-page {
  color: #0089f1;
}
.property-section .card-container .property-card {
  width: 366px;
  min-height: 589px;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  gap: 10px;
}
.property-section .card-container .property-card .image-property {
  width: 346px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background-image: url("/img/assets/image_property_example.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.property-section .card-container .property-card .image-property div {
  width: 114px;
  height: 27px;
  background-color: #eef7ff;
  padding: 5px 26px;
  border-radius: 5px;
}
.property-section .card-container .property-card .image-property div h3 {
  color: #0089f1;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.property-section .card-container .property-card .property-desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 19px;
}
.property-section .card-container .property-card .property-desc .img-txt {
  display: flex;
  align-items: center;
  gap: 15px;
}
.property-section .card-container .property-card .property-desc .img-txt img {
  width: 15px;
  height: 20px;
}
.property-section .card-container .property-card .property-desc .txt-property {
  padding: 20px 0px;
  border-bottom: 1px solid #e5e7eb;
}
.property-section .card-container .property-card .property-desc h3 {
  font-family: "Montserrat", sans-serif;
}
.property-section .card-container .property-card .property-desc p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #adadad;
}
.property-section .stats-container {
  display: flex;
  justify-content: space-around;
  height: 62px;
  padding: 20px 0px;
  border-bottom: 1px solid #e5e7eb;
}
.property-section .stats-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.property-section .stats-container div img {
  width: 26px;
  height: 22px;
}
.property-section .stats-container div h3 {
  font-size: 14px;
  color: #adadad;
}

@media (max-width: 767px) {
  .property-section {
    padding-top: 130px;
  }
  .property-section .property-title {
    flex-direction: column;
    gap: 20px;
  }
  .property-section .card-container {
    width: 100%;
  }
  .property-section .card-container .property-card {
    width: 100%;
  }
  .property-section .card-container .property-card .image-property {
    width: 100%;
  }
  .property-section .stats-container {
    gap: 10px;
  }
}
.inm-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 230px;
  gap: 47px;
  padding: 10px 0px;
  border-bottom: 1px solid #e5e7eb;
}
.inm-main h3 {
  font-family: "Raleway", sans-serif;
}
.inm-main .inm-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #e5e7eb;
}
.inm-main .inm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
}
.inm-main .inm-container .none-border {
  border: none;
}
.inm-main .inm-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
  border-right: 1px solid #e5e7eb;
  margin-right: 10px;
}
.inm-main .inm-container div h3 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.inm-main .inm-container div img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.inm-main .inm-container .arrow-container {
  width: 30px;
  height: 30px;
  background-color: #5ba8e8;
  border-radius: 50%;
  cursor: pointer;
}
.inm-main .inm-container .arrow-container img {
  width: 10px;
  height: 15px;
}

@media (max-width: 767px) {
  .inm-main .inm-container div {
    flex-direction: column;
    border: 1px solid #e5e7eb;
    padding: 10px;
  }
  .inm-main .inm-container div h3 {
    font-size: 10px;
    text-align: center;
  }
  .inm-main .inm-container div img {
    width: 50px;
    height: 50px;
  }
}
.frequent-asks {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  font-family: "Raleway", sans-serif;
  gap: 32px;
}
.frequent-asks .asks-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.frequent-asks .ask {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 26px 30px 30px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  cursor: pointer;
}
.frequent-asks .ask .active {
  color: #0089f1;
}
.frequent-asks .ask .ask-txts {
  display: flex;
  flex-direction: column;
  max-width: 951px;
  gap: 20px;
  font-family: "Raleway", sans-serif;
}
.frequent-asks .ask .ask-txts h3 {
  font-size: 20px;
}
.frequent-asks .ask .ask-txts p {
  font-size: 20px;
  line-height: 1.5;
  color: #41486b;
}

@media (max-width: 767px) {
  .frequent-asks .ask .ask-txts h3 {
    font-size: 15px;
  }
  .frequent-asks .ask .ask-txts p {
    font-size: 15px;
  }
}
.contact-section {
  display: flex;
  gap: 15px;
  padding: 50px 20px 30px 20px;
}
.contact-section div {
  width: 50%;
  gap: 20px;
  border-radius: 20px;
}
.contact-section .contact-picture {
  min-height: 522px;
  background-image: url("/img/assets/contact_picture.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-section .contact-form {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.contact-section .contact-form h2 {
  font-size: 30px;
}
.contact-section .contact-form h3 {
  color: #0089f1;
  font-size: 30px;
}
.contact-section .contact-form .contact-info-container {
  width: 100%;
}
.contact-section .contact-form .contact-info-container .contact-info {
  display: flex;
  width: 100%;
  gap: 10px;
}
.contact-section .contact-form .contact-info-container .contact-info input {
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
  width: 90%;
  height: 63px;
}
.contact-section .contact-form .contact-info-container .contact-info button {
  cursor: pointer;
  background-color: #0089f1;
  color: #fdfdfd;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 138px;
  height: 63px;
}
.contact-section .contact-form .contact-info-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}
.contact-section .contact-form .contact-info-container ul div {
  padding: 15px;
}
.contact-section .contact-form .contact-info-container ul h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #1c2a36;
}
.contact-section .contact-form .contact-info-container ul li {
  font-family: "Raleway", sans-serif;
  color: #1c2a36;
  padding-top: 5px;
}
.contact-section .contact-form .contact-info-container ul li span {
  font-weight: 700;
}

@media (max-width: 767px) {
  .contact-section {
    flex-direction: column;
  }
  .contact-section div {
    width: 100%;
  }
  .contact-section .contact-picture {
    min-height: 199px;
  }
  .contact-section .contact-form h2 {
    font-size: 20px;
    text-align: center;
  }
  .contact-section .contact-form h3 {
    font-size: 20px;
  }
  .contact-section .contact-form .contact-info-container ul {
    padding-top: 40px;
  }
  .contact-section .contact-form .contact-info-container ul h3 {
    font-size: 15px;
  }
  .contact-section .contact-form .contact-info-container ul li {
    font-size: 14px;
  }
}
.highlights-sections {
  padding: 45px 20px 30px 20px;
  font-family: "Raleway", sans-serif;
}
.highlights-sections .highlights-txts {
  padding: 20px 20px;
  border-bottom: 1px solid #e5e7eb;
}
.highlights-sections .highlights-txts h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.highlights-sections .highlights-cards {
  display: flex;
  justify-content: center;
  gap: 46px;
  padding: 40px 40px;
}
.highlights-sections .highlights-cards .highlights-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  min-height: 655px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #e5e7eb;
}
.highlights-sections .highlights-cards .highlights-card img {
  width: 100%;
  height: 434px;
  border-radius: 20px;
}
.highlights-sections .highlights-cards .highlights-card div {
  padding: 10px 19px;
}
.highlights-sections .highlights-cards .highlights-card .row-txts {
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}
.highlights-sections .highlights-cards .highlights-card .row-txts div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0px;
}
.highlights-sections .highlights-cards .highlights-card .row-txts div .txts-title {
  font-size: 14px;
  color: #1c2a36;
}
.highlights-sections .highlights-cards .highlights-card .row-txts div .txts-parr {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #adadad;
}

@media (max-width: 767px) {
  .highlights-sections {
    padding: 5px;
  }
  .highlights-sections .highlights-txts h3 {
    font-size: 23px;
  }
  .highlights-sections .highlights-cards {
    flex-direction: column;
    margin-top: 20px;
    padding: 0px;
  }
  .highlights-sections .highlights-cards .highlights-card {
    width: 100%;
  }
  .highlights-sections .highlights-cards .highlights-card img {
    height: 293px;
  }
  .highlights-sections .highlights-cards .highlights-card .row-txts {
    flex-direction: column;
  }
  .highlights-sections .highlights-cards .highlights-card .row-txts div {
    width: 100%;
  }
}
.account-settings {
  display: flex;
  gap: 40px;
  padding: 30px;
}
.account-settings .profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20%;
  min-height: 1021px;
}
.account-settings .profile .profile-container {
  width: 100%;
  min-height: 325px;
  border-radius: 20px;
  background: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba(28, 42, 54, 0.15);
}
.account-settings .profile .user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.account-settings .profile .user-profile img {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.account-settings .profile .user-profile h2 {
  color: #0089f1;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.account-settings .profile .user-profile h3 {
  color: #adadad;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.account-settings .profile .info-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 25px 42px;
}
.account-settings .profile .info-container .title-info-container {
  padding: 10px 0px;
  border-bottom: 1px solid #e5e7eb;
}
.account-settings .profile .info-container .title-info-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.account-settings .profile .info-container .id-row {
  border-left: 5px solid #0089f1;
  padding-left: 5px;
}
.account-settings .settings {
  display: flex;
  flex-direction: column;
  gap: 46px;
  width: 80%;
  padding: 37px 38px;
  min-height: 1021px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px 0 rgba(28, 42, 54, 0.15);
  border-radius: 20px;
}
.account-settings .settings h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.account-settings .settings .column-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.account-settings .settings .column-container h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.account-settings .settings .btn-container {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 50px;
}
.account-settings .settings .btn-container button {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  background-color: #0089f1;
  color: #fdfdfd;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 100%;
}
.account-settings .settings .btn-container .forget-password {
  font-size: 16px;
  background: none;
  color: #adadad;
  font-weight: 600;
}

@media (max-width: 767px) {
  .account-settings {
    flex-direction: column;
    padding: 10px;
  }
  .account-settings .profile {
    width: 100%;
  }
  .account-settings .settings {
    width: 100%;
  }
  .account-settings .settings .column-container .btn-container button {
    font-size: 14px;
  }
  .account-settings .settings .column-container .btn-container .forget-password {
    font-size: 14px;
  }
}
.row-input-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row-input-container .input-label-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.row-input-container .input-label-container p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.row-input-container .input-label-container input {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  outline: none;
  padding: 20px 10px;
  font-size: 16px;
  height: 63px;
}
.row-input-container .input-label-container .no-borders {
  width: 95%;
  border: none;
}
.row-input-container .input-label-container .input-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding-right: 15px;
}
.row-input-container .input-label-container .input-icon img {
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.row-input-container .ineditable-data {
  gap: 5px;
  width: 100%;
  max-height: 70px;
  opacity: 0.5;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #e7eef0;
}
.row-input-container .label-complete {
  width: 100%;
}

.input-file-container {
  gap: 15px;
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 10px;
}
.input-file-container input[type=file] {
  width: 100%;
  min-height: 100px;
  cursor: pointer;
  color: transparent;
}
.input-file-container input[type=file]::file-selector-button {
  display: none;
}
.input-file-container input[type=file]::before {
  content: "Sube aquí tu constancia de situación fiscal";
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}
.input-file-container input[type=file].input-cif::before {
  content: "Sube aquí tu CSF";
}
.input-file-container input[type=file].input-frontal::before {
  content: "Imagen Frontal";
}
.input-file-container input[type=file].input-back::before {
  content: "Imagen Trasera";
}
.input-file-container .file-row {
  display: flex;
  gap: 10px;
}

.row-txts {
  display: flex;
  gap: 20px;
  align-items: center;
}
.row-txts h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.row-txts p {
  color: #1c2a36;
  text-align: left;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.checkbox-container {
  gap: 10px;
}
.checkbox-container p {
  font-size: 12px;
  font-weight: 700;
}

.p-font-size p {
  font-size: 14px;
}

@media (max-width: 767px) {
  .row-input-container .input-label-container p {
    font-size: 12px;
  }
  .row-input-container .input-label-container input {
    font-size: 14px;
  }
  .input-file-container input[type=file]::before {
    font-size: 13px;
  }
}
.auth-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-image: url("/img/assets/login_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.auth-screen .input-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 35px;
  padding: 40px 35px;
  border-radius: 20px;
  background-color: #fdfdfd;
  opacity: 0.96;
}
.auth-screen .input-container .row-input-container {
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.auth-screen .input-container .row-input-container .input-label-container {
  width: 100%;
}
.auth-screen .input-container button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  height: 63px;
  padding: 20px 10px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.auth-screen .input-container .login-btn {
  background-color: #0089f1;
  color: #fdfdfd;
}
.auth-screen .input-container .g-login-btn {
  background: none;
  border: 1px solid #0089f1;
}
.auth-screen .input-container .g-login-btn img {
  width: 21px;
  height: 21px;
}
.auth-screen .picture-auth {
  width: 50%;
  height: 100%;
  background-image: url("/img/assets/reg-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-screen {
  align-items: stretch;
  height: 100dvh;
  overflow: hidden;
}
.register-screen .register-auth {
  width: 50%;
  height: 100%;
  border-radius: 0px;
  overflow-y: auto;
}
.register-screen .register-auth .border-container-register {
  justify-content: space-around;
}
.register-screen .register-auth .border-container-register h3 {
  font-size: 14px;
  cursor: pointer;
}

.border-container {
  justify-content: space-around;
  gap: 5px;
  padding: 5px;
}
.border-container h3 {
  font-size: 12px;
}

button {
  font-size: 15px;
}

.border-container.dble-checkbox {
  padding: 10px;
  justify-content: space-around;
  height: 127px;
}

@media (max-width: 767px) {
  .auth-screen {
    min-height: 100dvh;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .auth-screen .input-container {
    width: 95%;
    height: fit-content;
    padding: 20px 25px;
  }
  .register-screen {
    padding: 0px;
  }
  .register-screen .register-auth {
    width: 100%;
  }
  .picture-auth {
    display: none;
  }
  .register-screen .register-auth .border-container-register h3 {
    font-size: 11px;
  }
  .invite {
    background: #fdfdfd;
  }
  .invite .register-auth .header-containers h3 {
    font-size: 15px;
  }
}
.header-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px 10px;
}
.header-containers h3 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #0089f1;
}
.header-containers img {
  width: 26px;
  height: 24px;
}

.border-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  gap: 20px;
}
.border-container h3 {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #0089f1;
}
.border-container .light-txt {
  color: #41486b;
  cursor: default;
}

.prev-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-image: url("/img/assets/login_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.prev-register .prev-register-card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  min-height: 640px;
  padding: 40px 20px;
  background-color: #fdfdfd;
  border-radius: 20px;
  opacity: 0.96;
}
.prev-register .prev-register-card-container .card-border-conatiner {
  padding: 10px;
  min-height: 700px;
}
.prev-register .prev-register-card-container .card-border-conatiner .card {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: 267px;
  border-top: 10px solid #0089f1;
  border-right: 1px solid #0089f1;
  border-bottom: 1px solid #0089f1;
  border-left: 1px solid #0089f1;
}
.prev-register .prev-register-card-container .card-border-conatiner .card img {
  width: 154px;
  height: 180px;
}

@media (max-width: 767px) {
  .prev-register {
    height: auto;
    min-height: 100dvh;
    padding: 30px 1px;
  }
  .prev-register .prev-register-card-container .header-containers h3 {
    font-size: 15px;
  }
  .prev-register .card-border-conatiner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .prev-register .prev-register-card-container .card-border-conatiner .card {
    width: 100%;
  }
}
.unsuscribe-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  background-color: #5ba8e8;
}
.unsuscribe-page .un-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  width: 50%;
  min-height: 642px;
  border-radius: 10px;
  background-color: #fdfdfd;
}
.unsuscribe-page .un-conatiner img {
  width: 125px;
  height: 125px;
}
.unsuscribe-page .un-conatiner h3 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.unsuscribe-page .un-conatiner p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  color: #1c2a36;
}
.unsuscribe-page .un-conatiner p span {
  font-weight: 700;
}
.unsuscribe-page .un-conatiner .line {
  background-color: #5ba8e8;
  width: 100px;
  height: 6px;
  border-radius: 20px;
}
.unsuscribe-page .un-conatiner .border-un-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  min-height: 170px;
  border: 1px solid #5ba8e8;
  border-radius: 10px;
}
.unsuscribe-page .un-conatiner .border-un-container h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.unsuscribe-page .un-conatiner .border-un-container p {
  font-size: 16px;
  text-align: left;
}
.unsuscribe-page .un-conatiner .border-un-container p span {
  color: #5ba8e8;
}

@media (max-width: 767px) {
  .unsuscribe-page {
    padding: 20px 0px;
  }
  .unsuscribe-page .un-conatiner {
    gap: 20px;
    padding: 20px;
    width: 95%;
  }
}
.reset-pw-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}
.reset-pw-container .r-pw-input-container {
  display: flex;
  flex-direction: column;
  width: 525px;
  gap: 37px;
  padding: 56px;
  min-height: 200px;
  box-shadow: rgb(170, 170, 170) 0px 0px 20px 0px;
  border-radius: 10px;
}
.reset-pw-container .r-pw-input-container h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #1c2a36;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container {
  display: flex;
  align-items: center;
  border: 1px solid #eeeeee;
  height: 50px;
  border-radius: 5px;
  gap: 10px;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container .img-r-pw-container {
  padding: 0px 20px;
  border-right: 1px solid #eeeeee;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container .img-r-pw-container img {
  width: 20px;
  height: 20px;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container .input-icon-reset-pw {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 10px;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container .input-icon-reset-pw img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container input {
  width: 100%;
  height: 100%;
  color: #1c2a36;
  padding: 20px 10px;
  border: none;
  outline: none;
}
.reset-pw-container .r-pw-input-container .input-r-pw-container input::placeholder {
  color: #41486b;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}
.reset-pw-container .r-pw-input-container button {
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fdfdfd;
  background-color: #5ba8e8;
  border-radius: 7px;
}

@media (max-width: 767px) {
  .reset-pw-container .r-pw-input-container {
    width: 90%;
    padding: 40px 20px;
  }
  .reset-pw-container .r-pw-input-container h3 {
    font-size: 16px;
    text-align: center;
  }
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100dvh;
}
.not-found h3 {
  max-width: 547px;
  text-align: center;
  line-height: 1.5;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
}
.not-found p {
  width: 615px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

/*# sourceMappingURL=styles.css.map */
