.image-property {
  position: relative;
  overflow: hidden;
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}

.property-card:hover .photo-arrow {
  opacity: 1;
}

.photo-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  // ...

  &:hover { background: #fff; }
  &-left  { left: 8px; }
  &-right { right: 8px; }

  img {
    width: 14px;
    height: 14px;
    pointer-events: none;
  }
}